body {
    margin: 0%;
    padding: 0;
    background-image: url("img/fundo.avif"); 
    background-size: cover;
    
}
header ul{
background-color: rgb(7, 2, 78);
height: 80px;
width: 100%;
margin: 0%;
color: white;

}
ul,li{
list-style-type: none;
align-items:center;
display: flex;
justify-content: space-between; 


} 
#logo{
    width: 70px;
        top: 10px;
    height: 60px;
    position: fixed;
    } 

    #fundo{
            text-align: center;
}
#titulo{
    text-align: center;
    color: rgb(222, 220, 243);
    padding-top:5%;
    font-size: 70px;
}
#subtitulo{
    text-align: center;
    color: rgb(169, 215, 241);
    padding: left;
    padding-right: 20%;
}
#link{
    color:rgb(247, 243, 243); 

}
a:link, a:visited {
    background-color: #180364;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}
#video{
    float:left;
    width: 40%;
    padding: 0 5%;
    position:left;

}
#parteum {
    background-color:rgb(196, 213, 219) ;
    float:right;
    width: 50%;
    padding:5%;
}
.justificado{
    text-align: justify;
}
.centralizado{
    text-align: center;
}
.icones {
    width: 100px;
    padding: 20px;
    
}
.foto {
    padding: 100px;
    float:right;

}
#colunatres{
    float:left;
    width: 23%;
    padding: 0 5%;
    position: relative;
}
#sobre{
    float:left;
    width: 10%;
    padding: 0 5%;
}
.sobre {
    float:right;
    width: 10%;
    padding: 0 5%;
}
footer{
background-color: rgb(174, 174, 241);
padding: 1%;
text-align: center;

}
@media all and (max-width: 768px){
}


#parteum,#partedois,#partetres,#sobre{
    display: block;
    width: 80%;
    padding: 0;
    margin: 10px auto;
    float: none;
}
#logodiv{
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0px;
}
#logo{
    margin-left: 0px;
    transform: translateX(-50%);
}


