html, body {
    margin: 0%;
}
header{
background-color: rgb(7, 2, 78);
color: beige;
height: 60px;
width: 100%;
position: fixed;
z-index: 10;
}
#logo{
    width: 70px;
    position: absolute;
    top: 10px;
    margin-left: 5%;
}
#menu{
    float:right;
    margin-right: 5%;
    list-style: none;
    margin-top: 0px;

    }
    li{
        float: left;
        padding: 20 10 20 10;
    }
    li:hover{
background-color: rgb(174, 174, 241);

    }
#fundo{
    background-image: url("img/fundo.avif"); 
    background-size: cover;
    text-align: center;
}
#titulo{
    text-align: center;
    color: rgb(222, 220, 243);
    padding-top:5%;
    font-size: 70px;
}
#subtitulo{
    text-align: center;
    color: rgb(169, 215, 241);
    padding-left: 20%;
    padding-right: 20%;
}
#link{
    color:rgb(247, 243, 243); 

}
a:link, a:visited {
    background-color: #180364;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}
#video{
    float:left;
    width: 40%;
    padding: 0 5%;
    position:relative ;

}
#parteum {
    background-color:rgb(196, 213, 219) ;
    float:left;
    width: 100%;
    padding: 0 5%;
    position: relative;
}
.justificado{
    text-align: justify;
}
.centralizado{
    text-align: center;
}
.icones {
    width: 100px;
    padding: 20px;
}
.foto {
    padding: 100px;
}
#colunatres{
    float:left;
    width: 23%;
    padding: 0 5%;
    position: relative;
}
#sobre{
    float:left;
    width: 10%;
    padding: 0 5%;
}
.sobre {
    float:right;
    width: 10%;
    padding: 0 5%;
}
footer{
background-color: rgb(174, 174, 241);

}
@media all and (max-width: 768px){
}
#menu {
visibility: hidden;
}
#parteum,#partedois,#partetres,#sobre{
    display: block;
    width: 80%;
    padding: 0;
    margin: 10px auto;
    float: none;
}
#logodiv{
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0px;
}
#logo{
    margin-left: 0px;
    transform: translateX(-50%);
}


